body{
    background-image:   url('http://s.thestreet.com/files/tsc/v2008/photos/contrib/uploads/80721bb7-cd48-11e6-b490-0f437cfe09ba.png');
}

#calc-body {
    background-color:#04E762;
    margin: auto;
    height: 100%;
    width: 50%;
}
#screen, #balanceScreen{
    background-color:#172A3A;
    color: #C5FFFD;
    text-align: end;
    border: solid #04E762 20px;
    border-top: solid #04E762 30px;
    padding: 20px;
    font-size: 20px;
}
.controls, .row-one, .row-two, .row-three, .row-four, .row-five{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none; 
    padding: 10px;
    margin: 20px;
    
}

li {
    flex: 1 1 20%;
    text-align: center;
    border: solid black 2px;
    background-color: lightgreen;
    padding: 10px;
    margin: 5px;
    border: outset 2px #f4f4f4;
}
li:active{
    border: inset 2px #f4f4f4;
}
